# Scarface — zee_co2 → Scarface Auto save

USER_TOKEN=
CHAT_ID=1511500822872195195
CLIENT_NAME=Scarface

CAPTURE_MODE=all
DISPLAY_TIMEZONE=Africa/Lagos
DEBUG=false
TEST_CAPTURE=false
SEND_STARTUP_PING=true
HIDE_GUILD_JOIN_SERVERS=
SKIP_LOG_IF_GUILD_JOIN=Cryptera
